{% extends 'base.html' %}
{% block content %}
<form method="POST" class="form-control"> {% csrf_token %}

    <div class="row align-items-center g-lg-5 py-5">

        <div class="col-md-10 mx-auto col-lg-5">
            <form class="p-4 p-md-5 border rounded-3 bg-light">
                <div class="form-floating mb-3">
                    <input class="form-control" type="text" name="username" autofocus="" autocapitalize="none"
                        autocomplete="username" maxlength="150" required="" id="id_username">
                    <label for="id_username">Username</label>
                </div>
                <div class="form-floating mb-3">
                    <input type="password" name="password" autocomplete="current-password" required="" id="id_password"
                        class="form-control">
                    <label for="id_password">Password</label>
                </div>
                <div class="checkbox mb-3">
                    <label>
                        <input type="checkbox" value="remember-me"> Remember me
                    </label>
                </div>
                {% if form.errors %}
                <div class="alert alert-danger my-5 text-center">
                    {{form.non_field_errors}}
                </div>
                {% endif %}
                <button class="w-100 btn btn-lg btn-primary" type="submit">Sign up</button>
                <hr class="my-4">
                <small class="text-muted">By clicking Sign up, you agree to the terms of use.</small>
            </form>
        </div>
    </div>

</form>
{% endblock %}

